<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.mixtest.mapper.BoardAttachMapper">
	<insert id="insert">
		insert into tbl_attach(uuid, uploadpath, filename, filetype, bno)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{bno})
	</insert>
	<delete id="delete">
		delete from tbl_attach where uuid=#{uuid}
	</delete>
	<select id="findByBno" resultType="Attach">
		select * from tbl_attach where bno=#{bno}
	</select>
	<delete id="deleteAll" >
		delete from tbl_attach where bno = #{bno}
	</delete>
	
	<select id="getOldFiles" resultType="com.mixtest.domain.BoardAttachVO">
		select * from tbl_attach where uploadpath = date_format(CURDATE() -INTERVAL 1 DAY,'%Y\%m\%d');
	</select>
</mapper>